html, body
  height: 100%
  overflow: hidden
  width: 100%

.layout
  border: 1em solid white
  bottom: 0
  left: 0
  overflow: auto
  position: absolute
  right: 0
  top: 0

  .columns
    align-items: stretch
    display: flex
    flex-flow: row wrap

    .col
      flex: 1 33%

      &.col-three
        text-align: right

header
  border-right: 1px solid rgba(0,0,0,0.06)
  bottom: 1em
  left: 1em
  position: fixed
  top: 1em
  width: 15em
  z-index: 3

  .logo,
  .logo-image
    display: block

  .logo
    margin: 5em auto 4em
    opacity: 0.54
    width: 60%
    @include transition(opacity)

    &:hover
      opacity: 0.87

  .logo-image
    width: 100%

  nav
    padding: 0 1em

    a
      display: block
      margin-left: 0.2em
      padding: 0.8em 0

    ol
      margin: 0
      padding: 0 0 0 1.4em

      li
        color: $dark-hint-color

footer
  font-family: $title-text
  margin-left: 15em
  padding: 2em 3em

  .content
    border-top: 1px solid $dark-divider-color
    padding: 1em 0

  .col
    font-size: 1.2em

    &.col-two
      text-align: center

      img
        height: 24px
        opacity: 0.38
        width: 24px

    &.col-three
      color: $dark-hint-color
      opacity: 0.5

.page
  margin: 0 0 2em 15em
  padding: 5em 3em

  .page-header
    border-bottom: 1px solid $dark-divider-color
    font-size: 1.2em
    opacity: 0.5
    padding: 0.5em 0

    .page-number
      color: $dark-secondary-color
      font-weight: bold

    .page-title
      color: $dark-hint-color
      font-style: italic

  .intro
    font-size: 3em
    padding: 1em 0

.project
  padding: 3em 0

  .project-image-wrap
    align-items: center
    background-color: rgba(0,0,0,0.06)
    display: flex
    height: 600px
    margin: 0 0 3em
    overflow: hidden
    position: relative

  .project-image
    margin: 0 auto
    width: 90%
    transform: scale(1)
    transition: 0.2s linear

  img
    display: block
    height: auto
    max-width: 100%

    &.shadow
      box-shadow: $dark-divider-color 0 0 1.5em

  .project-meta
    font-size: 1.2em

    .project-title
      font-size: 1.5em

    .project-role
      color: $dark-secondary-color
      font-size: 0.8em
      text-transform: uppercase

    .project-description
      color: $dark-hint-color

  &.with-mask

    .project-image-wrap
      align-items: flex-start
      width: auto

    .project-image
      display: block
      margin: 5em auto 0
      max-width: 90%
      width: auto

  .flexslider
    background-color: transparent
    border: 0
    margin: 0
    position: static

    .flex-control-nav
      bottom: 1em
      z-index: 2

      &.flex-control-paging
        padding: 0 1em
        text-align: left
        width: auto
