$title-text: "PT Serif", "Helvetica Neue", serif
$body-text: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif

$primary-color: #0881b3

$dark-base-color: rgba(0,0,0,1)
$dark-primary-color: rgba(0,0,0,0.87)
$dark-secondary-color: rgba(0,0,0,0.54)
$dark-hint-color: rgba(0,0,0,0.38)
$dark-divider-color: rgba(0,0,0,0.12)

$light-base-color: rgba(255,255,255,1)
$light-primary-color: rgba(255,255,255,0.87)
$light-secondary-color: rgba(255,255,255,0.54)
$light-hint-color: rgba(255,255,255,0.38)
$light-divider-color: rgba(255,255,255,0.12)
