@import url(lib/normalize.css);
@-webkit-keyframes logo-rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes logo-rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes logo-rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes logo-rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes logo-hover-rotate {
  from {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }

  to {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-moz-keyframes logo-hover-rotate {
  from {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }

  to {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-ms-keyframes logo-hover-rotate {
  from {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }

  to {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes logo-hover-rotate {
  from {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }

  to {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@font-face {
  font-family: "Museo Sans 500";
  font-weight: normal;
  font-style: normal;
  src: url("/static/f/museosans_500.eot");
  src: url("/static/f/museosans_500.eot?#iefix") format("embedded-opentype"), url("/static/f/museosans_500.woff") format("woff"), url("/static/f/museosans_500.ttf") format("truetype"), url("/static/f/museosans_500.svg#") format("svg"); }

html, body {
  background-color: #f6f7f9; }

body {
  color: #737373;
  font: 12px Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  color: #444433;
  font-family: "Museo Sans", "Myriad Pro", Arial, sans-serif;
  margin: 0; }

p {
  margin: 0 0 1.2em; }

blockquote, cite, ul {
  margin: 0 0 1.2em; }

blockquote {
  border-left: 10px solid #f6f7f9;
  color: #afafaf;
  padding: 0 2.5%; }

cite {
  display: block; }

ul li {
  padding: 5px 0; }

a {
  color: #f8125f;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }
  a span {
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border-color;
    -moz-transition-property: border-color;
    -ms-transition-property: border-color;
    -o-transition-property: border-color;
    transition-property: border-color;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
  a:hover {
    color: #f8125f; }
    a:hover span {
      border-color: #f8125f; }

em {
  color: #afafaf; }

header, section, footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8%; }
  header hr, section hr, footer hr {
    background-color: #dddddd;
    border: 0;
    height: 3px;
    margin: 1.2em auto;
    width: 40%; }
    header hr:last-child, section hr:last-child, footer hr:last-child {
      margin-bottom: 0; }
  header div.content, section div.content, footer div.content {
    max-width: 960px;
    margin: 0 auto;
    width: 80%; }

header, footer {
  text-align: center; }
  header p:last-child, footer p:last-child {
    margin-bottom: 0; }

header a.logo {
  display: inline-block;
  position: relative;
  margin: 1.4em 0 2.8em;
  width: 40%;
  z-index: 1; }
  header a.logo span,
  header a.logo span:before {
    display: block;
    position: absolute; }
  header a.logo span {
    height: 99%;
    overflow: hidden;
    width: 99%; }
  header a.logo span:before {
    content: "";
    height: 120%;
    left: -10%;
    top: -10%;
    width: 120%;
    background: #282bd8 20%;
    background-image: -webkit-linear-gradient(-45deg, #282bd8 20%, #f8125f 80%);
    background-image: -moz-linear-gradient(-45deg, #282bd8 20%, #f8125f 80%);
    background-image: -ms-linear-gradient(-45deg, #282bd8 20%, #f8125f 80%);
    background-image: -o-linear-gradient(-45deg, #282bd8 20%, #f8125f 80%);
    -webkit-animation-name: logo-rotate;
    -moz-animation-name: logo-rotate;
    -ms-animation-name: logo-rotate;
    -o-animation-name: logo-rotate;
    animation-name: logo-rotate;
    -webkit-animation-duration: 30s;
    -moz-animation-duration: 30s;
    -ms-animation-duration: 30s;
    -o-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
  header a.logo:hover span {
    border: 0; }
    header a.logo:hover span:before {
      -webkit-animation-name: logo-hover-rotate;
      -moz-animation-name: logo-hover-rotate;
      -ms-animation-name: logo-hover-rotate;
      -o-animation-name: logo-hover-rotate;
      animation-name: logo-hover-rotate;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -ms-animation-duration: 1.5s;
      -o-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
  header a.logo img {
    max-width: 100%;
    position: relative;
    vertical-align: top;
    width: auto;
    z-index: 1; }
    header a.logo img.static {
      display: none; }
    header a.logo img.mask {
      display: inline-block !important; }
header article.intro {
  font-family: "Museo Sans", "Myriad Pro", Arial, sans-serif;
  font-size: 1.4em;
  line-height: 1.2em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  -webkit-transition-property: font-size;
  -moz-transition-property: font-size;
  -ms-transition-property: font-size;
  -o-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

section {
  background-color: white; }
  section article {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0 0 1.4em;
    position: relative;
    -webkit-transition-property: font-size;
    -moz-transition-property: font-size;
    -ms-transition-property: font-size;
    -o-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
    section article:last-child {
      margin-bottom: 0; }
    section article h3,
    section article dl.meta dt {
      color: #aaaaaa; }
    section article h3 {
      font-size: 1.8em;
      line-height: 1.4em;
      margin-bottom: 0.8em;
      text-align: center; }
    section article img {
      height: auto;
      margin-bottom: 1.2em;
      max-width: 100%;
      vertical-align: top;
      width: auto; }
      section article img.js-lazyload {
        display: none; }
      section article img.shadow {
        -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); }
    section article p:last-child {
      margin-bottom: 0; }
    section article dl.meta {
      font-size: 0.9em;
      margin: 0 0 1.5em; }
      section article dl.meta dt, section article dl.meta dd {
        margin: 0;
        padding: 0; }
      section article dl.meta dt {
        margin-bottom: 0.2em; }
      section article dl.meta.role, section article dl.meta.client, section article dl.meta.dates {
        display: block;
        float: left;
        width: 28%;
        margin-left: 8%; }
      section article dl.meta.role {
        margin-left: 0; }
      section article dl.meta.description {
        clear: both;
        margin-bottom: 0; }
  section#pictela-com {
    background-color: #dddddd; }
    section#pictela-com article {
      color: #666666; }
      section#pictela-com article h3,
      section#pictela-com article dl.meta dt {
        font-family: "Museo Sans", "Myriad Pro", Arial, sans-serif;
        color: #999999; }
      section#pictela-com article hr {
        background-color: #aaaaaa; }
      section#pictela-com article a {
        color: #eb3d23; }
        section#pictela-com article a:hover span {
          border-color: #eb3d23; }
  section#pictela-branding {
    background-color: #4b4b4b; }
    section#pictela-branding article {
      color: white; }
      section#pictela-branding article h3,
      section#pictela-branding article dl.meta dt {
        font-family: "Museo Sans", "Myriad Pro", Arial, sans-serif;
        color: #bbbbbb; }
      section#pictela-branding article hr {
        background-color: #888888; }
      section#pictela-branding article a {
        color: #eb3d23; }
        section#pictela-branding article a:hover span {
          border-color: #eb3d23; }
  section#pictela-premium-formats {
    background-color: #f6f6f6; }
    section#pictela-premium-formats article {
      color: #333333; }
      section#pictela-premium-formats article h3,
      section#pictela-premium-formats article dl.meta dt {
        font-family: "Museo Sans", "Myriad Pro", Arial, sans-serif;
        color: #6c6c6c; }
      section#pictela-premium-formats article hr {
        background-color: #d6d6d6; }
      section#pictela-premium-formats article a {
        color: #eb3d23; }
        section#pictela-premium-formats article a:hover span {
          border-color: #eb3d23; }
  section#thinklaundry-branding {
    background-color: white; }
    section#thinklaundry-branding article {
      color: #58585b; }
      section#thinklaundry-branding article h3,
      section#thinklaundry-branding article dl.meta dt {
        font-family: "Museo Sans", "Myriad Pro", Arial, sans-serif;
        color: #939597; }
      section#thinklaundry-branding article hr {
        background-color: #d1d2d4; }
      section#thinklaundry-branding article a {
        color: #304866; }
        section#thinklaundry-branding article a:hover span {
          border-color: #304866; }
  section#grapevine {
    background-color: #302e31; }
    section#grapevine article {
      color: #fefefe; }
      section#grapevine article h3,
      section#grapevine article dl.meta dt {
        font-family: "Museo Sans", "Myriad Pro", Arial, sans-serif;
        color: #aba5b0; }
      section#grapevine article hr {
        background-color: #444046; }
      section#grapevine article a {
        color: #2aa9b0; }
        section#grapevine article a:hover span {
          border-color: #2aa9b0; }
  section#limewire-splashes {
    background-color: #222222; }
    section#limewire-splashes article {
      color: white; }
      section#limewire-splashes article h3,
      section#limewire-splashes article dl.meta dt {
        font-family: "Museo Sans", "Myriad Pro", Arial, sans-serif;
        color: #888888; }
      section#limewire-splashes article hr {
        background-color: #444046; }
      section#limewire-splashes article a {
        color: #c2e986; }
        section#limewire-splashes article a:hover span {
          border-color: #c2e986; }
  section#limewire-music-blog {
    background-color: #ebebeb; }
    section#limewire-music-blog article {
      color: #313131; }
      section#limewire-music-blog article h3,
      section#limewire-music-blog article dl.meta dt {
        font-family: "Museo Sans", "Myriad Pro", Arial, sans-serif;
        color: #9c9c9c; }
      section#limewire-music-blog article hr {
        background-color: #dddddd; }
      section#limewire-music-blog article a {
        color: #007fb8; }
        section#limewire-music-blog article a:hover span {
          border-color: #007fb8; }
  section#limespot-com {
    background-color: white; }
    section#limespot-com article {
      color: #444444; }
      section#limespot-com article h3,
      section#limespot-com article dl.meta dt {
        font-family: "Museo Sans", "Myriad Pro", Arial, sans-serif;
        color: #949494; }
      section#limespot-com article hr {
        background-color: #c4c4c4; }
      section#limespot-com article a {
        color: #0085ff; }
        section#limespot-com article a:hover span {
          border-color: #0085ff; }
  section#limewire-com {
    background-color: #f4f4f4; }
    section#limewire-com article {
      color: #333333; }
      section#limewire-com article h3,
      section#limewire-com article dl.meta dt {
        font-family: "Museo Sans", "Myriad Pro", Arial, sans-serif;
        color: #807e7e; }
      section#limewire-com article hr {
        background-color: #b7b7b7; }
      section#limewire-com article a {
        color: #2152a6; }
        section#limewire-com article a:hover span {
          border-color: #2152a6; }
  section#limewire-org {
    background-color: white; }
    section#limewire-org article {
      color: #333333; }
      section#limewire-org article h3,
      section#limewire-org article dl.meta dt {
        font-family: "Museo Sans", "Myriad Pro", Arial, sans-serif;
        color: #038640; }
      section#limewire-org article hr {
        background-color: #cbcdcb; }
      section#limewire-org article a {
        color: #3a7da7; }
        section#limewire-org article a:hover span {
          border-color: #3a7da7; }

footer p {
  font-size: 1em;
  color: #afafaf; }

@media only screen and (min-width: 640px) {
  header, section, footer {
    padding: 4%; }
    header hr, section hr, footer hr {
      width: 30%; }
    header div.content, section div.content, footer div.content {
      width: 65%; }

  header a.logo {
    width: 30%; }
  header article.intro {
    font-size: 1.8em;
    width: 65%; }

  section article {
    font-size: 1.4em; } }
@media only screen and (min-width: 1200px) {
  header, section, footer {
    padding: 2%; }
    header hr, section hr, footer hr {
      width: 20%; }

  header a.logo {
    width: 20%; }
  header article.intro {
    font-size: 2em;
    width: 45%; }

  section article {
    font-size: 1.6em; } }
